.search-box {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.395);
  padding: 8px;
  display: flex;
  height: 20px;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin: 0px 20px;
}
.form-input {
  width: 100%;
  margin: 0px 10px;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.form {
  width: 23%;
  height: 50px;
}
.form-button {
  width: 310px;
  height: 34px;
  margin: 15px 0px 0px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: rgba(108, 145, 255, 0.831);
  outline: none;
  border: none;
  color: aliceblue;
  cursor: pointer;
}
